// heights
$xs-height:50px;
$sm-height:100px;
$md-height:150px;
$lg-height:250px;
$xl-height:500px;

// colors
$primary-color:#000000;
$secondary-color:#fff;
$black:#000000;
$white:#fff;
// fonts
$xs-font:.5em;
$sm-font:1em;
$md-font:1.25em;
$lg-font:1.5em;
$xl-font:2em;
$xxl-font:3em;
